section {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section a {
  margin-top: 2%;
  text-decoration: none;
}

section img {
  height: 50rem;
}
